.navbar-logo {
	height: 2.75rem;
    width: 2.75rem; 
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
    position: relative;
    overflow: hidden;
}

.navbar-item img {
	max-height: unset;
	max-width: unset;
    margin: auto;
    position: absolute; 
    top: -9999px;
	left: -9999px;
	right: -9999px;
	bottom: -9999px;
	height: 4.75rem;
}