{% extends "base.html" %}

{% block content %}
<style type="text/css">
	@media only screen and (min-width: 600px) {
		.sign-up {
			height: 150px;
			display: flex;
			justify-content: center;
			align-items: center;  
		}

		.sign-up input {
			width: 300px;
		}
		.sign-up button {
			width: 150px;
			margin-left: 50px;
		}
	}

	img {
		border-radius:10px;
	}

	.introduction {
		text-align: center;
		height: 400px;
		padding-top: 150px;
		background-color: #00d1b2;
		font-size: 35px;
		color:white;
	}


	* {
		border: solid;
		border-color: black;
		border-width: .1px;
	}
</style>

		<div class="desktop-container">
			<div class="introduction">
				Styler is the ultimate destination for Stylers.
			</div>
			<div class="container section">
				<div class="sign-up field is-grouped">
					<div class="control is-expanded">
						<input type="email" value="" name="email" class="input is-medium is-flat" placeholder="email address" required="">
					</div>
					<div>
						<button class="button is-medium is-link">
	                		<strong>Invite Me</strong>
	                	</button>
	                </div>
				</div>
			</div>
		</div>

{% endblock %}