{% extends "base.html" %}

{% block content %}
<style type="text/css">
	@media only screen and (min-width: 600px) {
		img {
			border-radius:10px;
		}

	    .desktop-container {
	    	margin-top: 10px;
	    	margin-bottom: 10px;
	        padding-left: 200px;
	        padding-right: 200px;
	        display: flex;
	    }
	}

	.style-label {
		display:inline-block; 
		position:absolute;
		background:white; 
		opacity:0.2; 
		line-height: 1; 
		border-radius:10px;
	}

	.image-container {
		width: 50%;
	}

	.edit-container {
		width: 50%;
		display: flex;
		flex-direction: column;
	}

	.title-container {
		margin: 0;
	}	

	.operation-container {
		margin-top: auto;
	}

	* {
		border: solid;
		border-color: black;
		border-width: .1px;
	}
</style>

	<div class="container">
		<div class="desktop-container">	
		  <div class="image-container">
			<div class="style-container" style="margin:auto; position:relative;">
			  	<img class="style-image" src='{{ style.style_image_url }}' onclick="addAnnotation(event)"></img>
			</div>
		  </div>

		  <div class="edit-container" style="padding-left:20px; padding-right:20px;">
		  	<div class="title-container">
			  	Title: <input type="text" name="title" value="{{ style.title }}"></br>
			  	Description: <input type="" name=""></br>
		  	</div>
		  	<div class="annotation-list-container"></div>
		  	<div class="operation-container">
		  		<button onclick="saveStyle()">Save</button>
		  		<button><a href="http://127.0.0.1:8000/style/1"">Go To Style</a></button>
		  	</div>
		  </div>
		</div>
	</div>


<script type="text/javascript">
const styleContainer = document.querySelector(".style-container");
const annotationListContainer = document.querySelector(".annotation-list-container");

class StyleAnnotation {
	//static get styleContainer() {
	//	return styleContainer;
	//}
};

function getCoor(event) {
	// Figure out annotation position.
	var targetRec = event.target.getBoundingClientRect();
	var coorX = event.offsetX/targetRec.width;
	var coorY = event.offsetY/targetRec.height;
	return {
		'coorX': coorX,
		'coorY':coorY,
	};
}

function createStyleLabel(annotation) {
	var styleLabelDom = "<a href='{{ annotation.url }}'><img src='/static/tag.png' style='height:30px;'></img></a>";
	const styleLabel = new DOMParser().parseFromString(styleLabelDom , 'text/html').body.firstChild;
	styleLabel.classList.add("style-label");
	styleLabel.style.left = annotation.coorX*100 + "%";
	styleLabel.style.top = annotation.coorY*100 + "%";
	return styleLabel;
}

function createStyleAnnotation(styleLabel) {
	// Link url input box.
	var annotationDom = "<div>Link: <input type='text' name='annotationUrl'></div>";
	var styleAnnotation = new DOMParser().parseFromString(annotationDom , 'text/html').body.firstChild;
	// Remove button.
	var removeButtonDom = "<button>Remove</button>";
	var removeButton = new DOMParser().parseFromString(removeButtonDom , 'text/html').body.firstChild;
	removeButton.addEventListener('click', removeStyleAnnotation);
	function removeStyleAnnotation() {
		styleLabel.style.display = "none";
		removeButton.parentNode.style.display = "none";
	}

	// Create Item.
	var styleAnnotationItem = document.createElement('div');
	styleAnnotationItem.appendChild(styleAnnotation);
	styleAnnotationItem.appendChild(removeButton);

	return styleAnnotationItem;
}


function addAnnotation(event) {
	var annotation = getCoor(event);
	// console.log(StyleAnnotation.styleContainer);
	// Add style label.
	var styleLabel = createStyleLabel(annotation);
	styleContainer.appendChild(styleLabel);

	// Add style annotation
	var styleAnnotationItem = createStyleAnnotation(styleLabel);
	annotationListContainer.appendChild(styleAnnotationItem);
}

function saveStyle() {

	console.log("//TODO: Save style");
}	

</script>



{% endblock %}