<!DOCTYPE html>
<html>
<!-- <html style="background-color: #f0f0f0"> -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="p:domain_verify" content="f9e95c0391bf1501c9436821197f60f1"/>
    <title>Eastyler</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="static/logo_transparent.png">

  </head>

  <body id="body">
    {% block body %}
      <div id="ac-spa"></div>
      <script src="/static/main.js"></script>
    {% endblock body %}
  </body>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>