<!DOCTYPE html>
<html>
<!-- <html style="background-color: #f0f0f0"> -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="p:domain_verify" content="f9e95c0391bf1501c9436821197f60f1"/>
    <title>Eastyler</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="static/logo_transparent.png">

  </head>

  <body>
    {% block body %}
      <div id="instyle-spa"></div>
      <script src="/static/main.js"></script>
    {% endblock body %}
  </body>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <!-- Begin Inspectlet Asynchronous Code -->
  <script type="text/javascript">
  (function() {
  window.__insp = window.__insp || [];
  __insp.push(['wid', 531172705]);
  var ldinsp = function(){
  if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=531172705&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
  setTimeout(ldinsp, 0);
  })();
  </script>
  <!-- End Inspectlet Asynchronous Code -->
</html>